.Layout {
    max-width: 1000px;
    margin: 0 auto;
}
.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #BFBFBF;
    margin-bottom: 35px;
}
.logo {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.header-btn {
    padding: 9px 14px;
    background: transparent;
    border: #4fa9ff 2px solid;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.header-btn:hover {
    cursor: pointer;
    background: #030dff;
    color: #fff;
    font-weight: 400;
}