.Modal {
    position: fixed;
    top: 40%;
    left: 50%;
    border: 1px solid #cccccc;
    padding: 50px 60px;
    transform: translate(-50%, -50%);
    z-index: 500;
    background: #ffffff;
    width: 500px;
}
.info-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.img-modal {
    width: 200px;
    height: auto;
    display: block;
}
.btn-block {
    display: flex;
    justify-content: space-evenly;
}
.modal-btn {
    background: transparent;
    padding: 15px 50px;
    border-radius: 5px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}
.modal-btn:hover {
    background: #cccccc;
    cursor: pointer;
}