.Contact {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    border: dimgray 1px solid;
    max-width: 600px;
    margin-bottom: 20px;
}
.Contact:hover {
    cursor: pointer;
}
.contact-img {
    width: 120px;
    height: auto;
    margin-right: 80px;
}